@import './general';

.body{
  width: 100%;   
}


main{
  // padding: 0px;
 
  // padding:77px 0px 0px 0px;
  width: 100%;
  
  @include OverTab{
    padding-top: 0px;
    padding-left:225px;
    box-sizing: border-box;

  }
  
  #top{
    
    // background-position:left 50% bottom 0%;
    background-position:center;
    background-image: url('./image/head-sp.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    height: 330px;
    
    // background-origin: content-box;


    // box-sizing: content-box;

    @include SmallTab{
      background-position: 75% 50%;
      height: 400px;
    }
   
    @include MidTab{
      height: 500px;
      background-position: 75% 50%;
    }


    @include KeyTab{
      background-image: url("./image/head-pc.jpg");
      background-position: 75% 50%;
      background-size:cover ;
      height: 700px;
    }


    .key-visual{
      display: none;
      
      @include KeyTab{  
        display: block; 
        position: absolute;
        display: block;
        position: absolute;
        top:25%;
        right: 10px;
        background-color: #FCC800;
        padding: 15px;
       }
      
      
      @include SSoverTab{
        right: 2%;
        padding: 30px;
      }

    


      .key-item{
        margin-bottom:10px;




        
        h2{
          text-align: center;
          border:2px solid black;
          background-color: white;
          line-height: 30px;
      
        }
  
        p{
          text-align: center;
          border:2px solid black;
          background-color: white;
          line-height: 65px;
          padding: 10px;
         

          @include SSoverTab{
            padding: 30px;
          }
         
       
        }
      }


    }
  
 
  }// top

  

}//main
