#f-second{
 
  background-color: #343a40;
  padding: 50px 0;
  

  .fs-inner{
      max-width: 1150px;
      margin: 0 auto;
      width: 100%;
   
    
    
    ul{

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      

      li{
        list-style: none;
        display: block;
        margin-bottom: 10px;
        
        & +li{
          margin-left: 15px;

        }

        a{
          color: $white;
          text-decoration: none;
          border: 2px solid #fff;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 15px;
          padding-right: 30px;
          display: block;

        }
      }
    }
  }
}